<!DOCTYPE html>
<html>
<head>
  <title>Ph2016</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div class="nav-container" >
        <div class="nav-content" >
    
      <a href="/" class="logo" > <%= image_tag("pglogo.png",  width: '150') %> </a>

    <div class="nav-bar-content" >
        <ul>
            <% if current_user %>
             <li><%= link_to "Sign Out", signout_path %></li>
             <li><%= link_to "+", new_link_path %></li>
              <% else %>
            <li><%= link_to "login", "/auth/twitter" %></li>

            <% end %>
        </ul>
        
    </div>
  </div>  
</div>

<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> ">
    <button class="close" data-dismiss="alert">X</button>
    <%= message %>
  </div>
  <% end %>


<%= yield %>

</body>
</html>
